{% comment %}
  TODO:
  - [ ] Website name
  - [ ] Profile icon
{% endcomment %}

<header>
  <a href="/" class="header-logo">{{ shop.name }}</a>
</header>

{% stylesheet %}
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--page-margin);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  .header-logo {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  
{% endstylesheet %}



{% schema %}
{
  "name": "Header",
  "settings": []
}
{% endschema %}
